:root {
    --clr1: rgb(47, 89, 99);
    --clr2: rgb(120, 99, 99);

    --clr1bg: rgb(85, 115, 134);
    --clr1bg-light: rgb(192, 192, 192);
    --clr2bg: rgb(206, 150, 181);
    --clr2bg-light: rgb(235, 235, 235);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
}